
.first-div{
    border: 1px solid red;
    height: 200px;
    width: 200px;
    background-color: greenyellow;
}
.sec-div{
    border: 1px solid rgb(219, 192, 192);
    height: 130px;
    width: 130px;
    background-color: yellow;
    position: absolute;
    top: 20px;

}
.img-container{
    float: left;
}
.img{
    float: right;
}
.img-container{
    float: left;
}
.ratan-tata1{ 
    float: right;
}


